.button-style {
  margin: 10px auto;
  padding: 5px;
  box-shadow: 0px 0px 5px rgb(127, 127, 127);
  border-radius: 8px;
}

.button-style:hover {
  font-size: 1.2em;
}

.medium-size {
  width: 300px;
}

.small-size {
  width: 100px;
}

.text-dark {
  color: rgb(50, 50, 50);
}

.text-white {
  color: rgb(255, 255, 255);
}

.bg-green {
  background-color: rgb(17, 112, 45);
}

.bg-yellow {
  background-color: rgb(255, 235, 124);
}
